#title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5rem;
}

#title span {
  color: red;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.left-panel {
  padding: 10px 20px 0 0;
}

#searchbox {
  margin-bottom: 4rem;
}

#hits {
  margin-bottom: 2rem;
}

.Hit-image {
  width: 100%;
}
