#title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5rem;
}

#title span {
  color: red;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.left-panel {
  padding: 10px 20px 0 0;
}

#searchbox {
  margin-bottom: 4rem;
}

#hits {
  margin-bottom: 3rem;
}

.Hit {
  display: flex;
  flex-direction: column;
}

.Hit-header {
  height: 150px;
}

.Hit-title {
  margin: 0.4em 0;
}

.Hit-title a {
  text-decoration: none;
}

.Hit-speaker {
  margin: 0.8em 0;
}

.Hit-image {
  width: 100%;
}

.ais-Pagination-link {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.ais-Pagination-link--selected {
  border: 1px solid red !important;
  background-color: white !important;
  color: red !important;
}

li.ais-Pagination-item--disabled span{
  border: 1px solid #c4c8d8;
}
